/* =========== */
/* = GENERAL = */
/* =========== */


$orange: #EB603F;
$orange_lower: rgba(235, 96, 63, 0.14);

/* :root {
    --oorange: ;
    --oorange_lower: rgba(235, 96, 63, 0.14);
} */

@font-face {
    font-family: "Product Sans";
    src: url("./fonts/product-sans/Product_Sans_Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Product Sans", sans-serif;
}

html,
body {

    position: relative;
    min-height: 100vh;

}

main {
    padding-bottom: 2.5rem;
}

h2 {
    margin: 16px 0;

    font-size: 22px;
    color: $orange;
    font-weight: light;
}

.separator {
    margin: 10px 0;
    width: 26px;
    border: 2px solid $orange;
    border-radius: 9999px;
}

/* ========== */
/* = HEADER = */
/* ========== */

.header {
    width: 100%;
    height: 78px;

    background-color: $orange;
    box-shadow: 0px 2px 0px 0px rgba(29, 29, 27, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
}



main {
    padding: 11.6px 11.6px 50px 11.6px;
    margin: 0 auto;
    width: clamp(100px, 600px, 100%);
    min-height: 100%;
}

/* ============== */
/* = OPTION BAR = */
/* ============== */

.optBar {
    display: flex;
    flex-wrap: nowrap;

    padding: 10px 0;

}

.optItem {
    display: flex;
    margin: 0 9.7px 0 0;
    border: 2px solid $orange;
    border-radius: 6.2px;

    overflow: none;

    & label {
        padding: 3px 6px;

        color: $orange;
        font-size: 12px;
        white-space: nowrap;

        cursor: pointer;
    }

    & input[type="number"] {
        width: 21px;

        background-color: $orange;
        border: none;
        outline: none;

        color: #FFF;
        text-align: center;

        appearance: textfield;
    }

    & input[type="checkbox"] {
        display: none;

        &:checked+label {
            background-color: $orange_lower;
        }
    }
}
/* ============ */
/* = SIZE BAR = */
/* ============ */

.sizeBar {
    color: $orange;
    margin: 21px 0;

    & .sizeItems {
        margin-top: 15.5px;
        display: flex;

        & .sizeItem {
            margin: 0 10px 0 0;
            height: 29px;
            width: 29px;

            display: flex;

            border: 2px solid $orange;
            border-radius: 4.5px;

            & input[type="radio"] {
                display: none;
            }

            & label {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 25px;

                cursor: pointer;
            }

            & input:checked+label {
                background-color: $orange_lower;
            }
        }
    }
}

button {
    background-color: $orange;
    padding: .5rem 1rem;
    width: 100%;

    border: none;
    border-radius: .5rem;

    color: #FFF;

    cursor: pointer;

    &:disabled {
        background-color: hsl(12, 50%, 80%);
    }
}

/* =============== */
/* = CONTENT BAR = */
/* =============== */

.contentBar {
    display: flex;

    gap: 10px;
    overflow-x: auto;
    overflow-y: none;

    padding: 0 0 10px 0;

    scrollbar-color: $orange $orange_lower;
    scrollbar-width: thin;
}

h2 {
    margin: 16px 0;

    font-size: 22px;
    color: $orange;
    font-weight: light;
}

.contentItem {
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: max-content; */
    /* flex: 1 0 auto; */
    flex-shrink: 0;

    border: 2px solid $orange;
    border-radius: 7px;

    color: $orange;
    text-align: center;
    font-size: 14px;
    & img {
        margin-bottom: -6px;
        object-fit: contain;
        width: 80px;
        height: 80px;
    }

}


.textItem {
    padding: .25rem .5rem;
    border: 2px solid $orange;
    border-radius: 7px;

    color: $orange;
    text-align: center;
    width: max-content;
    white-space: nowrap;
    font-size: 14px;
}

/* ========== */
/* = FOOTER = */
/* ========== */


footer {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    height: 2.5rem;


    margin: 10px 0 0 0;
    height: 38px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFF;
    text-align: center;

    background-color: $orange;
}